version: '3.8'

services:
  nginx:
    image: nginx:stable
    container_name: picture-viewer-nginx
    ports:
    # 将宿主机的 3888 端口映射到 nginx 容器的 80 端口
    # 只需要修改这里的宿主机端口号即可，外网访问时使用这个端口号
      - "3888:80"
    volumes:
      # 使用自定义的 nginx 配置和前端构建输出，可以不管理这两行
      - nginx_conf:/etc/nginx:ro
      - frontend_dist:/usr/share/nginx/html:ro
      
      # 和下面 app server 保持一致
      # 将宿主机上希望展示的图片目录分别挂载到容器的 /server_images/<name> 目录下。
      # 例如：
      # - /abs/path/to/your/folder1:/server_images/folder1:ro
      # - /abs/path/to/your/folder2:/server_images/folder2:ro
      # 应用会自动把 /server_images 下的每个子目录视为一个 server 数据源，源名使用子目录名。
    depends_on:
      - server
    networks:
      - internal_net

  server:
    build: .
    image: zy1234567/picture-viewer-app:latest
    container_name: picture-viewer-app
    volumes:
      # 自定义的 nginx 配置文件和前端构建好的静态文件，可以不管理这两行
      - nginx_conf:/app/nginx:rw
      - frontend_dist:/app/dist:rw

      # 和上面 nginx 保持一致
      # 将宿主机上希望展示的图片目录分别挂载到容器的 /server_images/<name> 目录下。
      # 例如：
      # - /abs/path/to/your/folder1:/server_images/folder1:ro
      # - /abs/path/to/your/folder2:/server_images/folder2:ro
      # 应用会自动把 /server_images 下的每个子目录视为一个 server 数据源，源名使用子目录名。
    expose:
      - "3889"
    restart: unless-stopped
    # 添加健康检查，确保服务可用。
    healthcheck:
      # 如果不支持 curl，可以改用 wget 或其他工具
      test: ["CMD-SHELL", "curl -f http://localhost:3889/api/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - internal_net

volumes:
  # 前端构建输出
  frontend_dist:
    driver: local
  # nginx 配置
  nginx_conf:
    driver: local

# 定义一个内部网络，nginx 和 server 通过这个网络通信
networks:
  internal_net:
    driver: bridge  
